@model PryCafeteria.Models.Cupone

@{
    ViewData["Title"] = "Edición de Cupón";
}

<div class="row justify-content-center mt-4">
    <div class="col-md-6">
        <div class="card shadow-sm border-0">
            <div class="card-header bg-cafe text-white p-3">
                <h4 class="mb-1">Editar Cupón</h4>
            </div>
            <div class="card-body p-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="CuponId" />
                    <div class="mb-3">
                        <label asp-for="NombreCupon" class="form-label fw-bold text-cafe">Nombre del Cupón</label>
                        <input asp-for="NombreCupon" class="form-control" placeholder="Ingrese el nombre del cupón" />
                        <span asp-validation-for="NombreCupon" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="TipoDescuento" class="form-label fw-bold text-cafe">Tipo de descuento</label>
                        <input asp-for="TipoDescuento" class="form-control" placeholder="Ingrese el tipo de descuento" />
                        <span asp-validation-for="TipoDescuento" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ValorDescuento" class="form-label fw-bold text-cafe">Valor de descuento</label>
                        <input asp-for="ValorDescuento" class="form-control" placeholder="Ingrese el valor de descuento" />
                        <span asp-validation-for="ValorDescuento" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="FechaInicio" class="form-label fw-bold text-cafe">Fecha de inicio</label>
                        <input asp-for="FechaInicio" class="form-control" />
                        <span asp-validation-for="FechaInicio" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="FechaFin" class="form-label fw-bold text-cafe">Fecha final</label>
                        <input asp-for="FechaFin" class="form-control" />
                        <span asp-validation-for="FechaFin" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Activo" /> @Html.DisplayNameFor(model => model.Activo)
                        </label>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-cafe py-2 fw-bold">
                            Guardar Cambios
                        </button>
                        <a asp-action="Index" class="btn btn-outline-secondary py-2">
                            Cancelar
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
